/* Changes to .App will effect css across the whole app  */
.App {
  text-align: center;
}

/* new CSS changes below */
/* Styles for Login Page */
.loginPage {
  padding: 20px;
}

.loginPage h1 {
  color: #282c34;
  font-size: 2rem;
}

.loginPage h2 {
  font-size: 1.5rem;
  color: #333;
}

.loginPage input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
}

.loginPage button {
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Styles for Create Account Page */
.createAccountPage {
  padding: 20px;
}

.createAccountPage h1 {
  color: #282c34;
  font-size: 2rem;
}

.createAccountPage input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
}

.createAccountPage button {
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
